@charset "ISO-8859-1";
/* Style for the Playlist Form */
form {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color:mediumpurple;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.song-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.song-item {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
