@charset "ISO-8859-1";
/* CSS for Song List with Alternating Row Colors */
body {
    font-family: Arial, sans-serif;
    background-color:thistle;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color:	palevioletred;
}

/* Alternating Row Colors */
tbody tr:nth-child(even) {
    background-color:lightblue;
}

audio {
    width: 100%;
}
