<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Admin Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/adminStyles.css}">
</head>
<body>
  <h1>Welcome dear Admin </h1>
  
  <br>
  <a href="newSong" class="button">Add a New Song</a>
  <br/>
  <a href="viewSongs" class="button">View All Songs</a>
  <br/>
  <a href="createPlaylist" class="button">Create Playlist</a>
  <br/>
  <a href="viewPlaylists" class="button">View All Playlists</a>
</body>
</html>
